@page "/index"
<h2 style="color:black !important">hahahah</h2>
<button value="Test" >Test</button>

<a href="/mauipage">MauiPage</a>
<hr />
<a href="/wasmpage">Web Assembly Page</a>
<hr />
<a href="/classlibpage">Class Lib Page</a>

